<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Preview</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/preview.css') }}">
</head>
<body>
    <h4 style="position: fixed; top:0; right:0 !important; margin: 2%">

		Hi {{name}}
 
	   </h4>
    <div class="container">
        <div class="image-container">
            <img src="{{ img_data }}" id="preview-img" alt="Food Image">
        </div>
        <div class="details-container">
            <h3>Detected Food: <b> {{ foodname }} </b></h3>
            <h3>Details:</h3>
            <ul>
                <li><span>Calories:</span> {{ details['caloric'] }}</li>
                <li><span>Fat:</span> {{ details['fat'] }}</li>
                <li><span>Carbon:</span> {{ details['carbon'] }}</li>
                <li><span>Protein:</span> {{ details['protein'] }}</li>
            </ul>
        </div>
    </div>
</body>
</html>